# APP Configuration
APP_NAME=
PORT=
NODE_ENV=

# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Throttler Configuration
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Uploadthing Configuration
UPLOADTHING_TOKEN=

# Resend Configuration
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=